<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><i class="fas fa-comments"></i> Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <div *ngIf="auth(); then channels; else login"></div>
        <ng-template #channels>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/channels']">Channels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">Logout</a>
          </li>
        </ng-template>
        <ng-template #login>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']">Login</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
